.git-credentials
.gitconfig
.npm/
.cache/
.config/
.pki/
.local/
.java/
.agents/
agent/
skills-lock.json
*.zip
Desktop/
rope-cut/
hook-master/
cercle-croissant/
wordlists
gameplay1
.gf
.bash_logout
.bashrc
.profile
.zprofile
.zshrc
.zsh_history
.tmux.conf
